:root {
    --background-color: #ffffff;
    --text-color: #212121;
    --hover-color: #2196f3;
    --border-color: #ececec;
    --textlogo-color: #000000;
    --mail-tel-color: #757575;
    --background-main-color: #c4c4c4;
    --text-color-btn: #ffffff;
    --background-color-btn: #188ce8;
    --active-btn-text: #000000;
    --active-btn-shadov: #00000026;
    --boxshadov-clor1: rgba(0, 0, 0, 0.122);
    --boxshadov-clor2: rgba(0, 0, 0, 0.141);
    --boxshadov-clor3: rgba(0, 0, 0, 0.2);
    --text-mail-footer: #ffffff99;
    --background-portfolio: #e5e5e5;
    --button-color-style: #f5f4fa;
    --shadov-btn: #00000026;
    --background-footer-color: #2f303a;
    --clients-border-color: #afb1b8;
    --border-project-list: #eeeeee;
    --border-project-list1: rgba(0, 0, 0, 0.12);
    --border-project-list2: rgba(0, 0, 0, 0.06);
    --border-project-list3: rgba(0, 0, 0, 0.16);
    --social-link-footer: rgba(255, 255, 255, 0.1);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
