.test3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media screen and (min-width: 1200px) {
    justify-content: baseline;
    margin-left: auto;
  }
}
.modal-form-footer {
  width: 100%;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    width: auto;
    align-items: normal;
  }
}

.sub-title {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--background-color);

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.mail-label {
  height: 50px;
  width: 100%;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  background-color: transparent;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  &:focus {
    border-color: var(--hover-color);
  }
  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.btn-footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  background-color: var(--hover-color);
  border-radius: 4px;
  margin: 0 auto;

  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--background-color-btn);
  }

  @media screen and (min-width: 1200px) {
    margin: 0 0 0 12px;
  }
}

.box-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 0;
  }
}

.mail-label,
.btn-footer {
  padding: 16px;
  font-family: inherit;
  font-size: inherit;
}

.text-btn-footer {
  font-weight: 700;
  font-size: 16px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}
