.header {
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
  padding: 10px 0;

  @media screen and (min-width: 768px) {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .mobile-nav {
    display: inline-flex;

    padding: 0;
    border: 0;
    background-color: transparent;
    color: inherit;

    .open-mobile-menu-btn__icon {
      display: block;
    }
  }
}
.mobile-menu__close-icon {
  display: block;
  fill: currentColor;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  .mobile-menu__close-icon:hover &,
  .mobile-menu__close-icon:focus & {
    fill: var(--hover-color);
  }
}
@media screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 768px) {
    .mobile-nav {
      width: 100%;
    }
  }
}
.logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  color: var(--hover-color);
}
.logo__end {
  color: var(--active-btn-text);
}
