.header {
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
  padding: 10px 0;

  @media screen and (min-width: 768px) {
    padding: 0;
  }
}

.mobile-nav {
  display: inline-flex;

  padding: 0;
  border: 0;
  background-color: transparent;
  color: inherit;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  color: var(--hover-color);
}
.logo__end {
  color: var(--active-btn-text);
}
